<%- include("header") -%>

<h2 style="text-align:center;">About</h2>
<p>This app is made by Abhishek Kamble.</p>

<br>
<br>
<h2 style="text-align:center;"><a href="/about">Home</a></h2>

<%- include("header") -%>
